.container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
    .post{
        display: flex;
        flex-direction: column;
        margin: 71px;
        padding: 0px;
        width: 286px;
        height:379px;
        background-color: white;
        }
          .post-header{
            display: flex;
            justify-content: space-between;
            background-color: white; 
            padding: 4px;
            height: 21px;
          }
          .iconos{
            display: flex;
            justify-content: space-between;
            padding: 3px;
          }
         .post .imagen {
            display: flex;
            width: 100%;
            height: 55%;
            align-self: center;
         }
        body{
            background-color: beige;
        }
        .post .imagen img{
            width:100%;
        }